<h1>Listing devises</h1>

<table>
  <thead>
    <tr>
      <th>Password</th>
      <th>Email</th>
      <th>Put</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devises.each do |devise| %>
      <tr>
        <td><%= devise.password %></td>
        <td><%= devise.email %></td>
        <td><%= devise.put %></td>
        <td><%= link_to 'Show', devise %></td>
        <td><%= link_to 'Edit', edit_devise_path(devise) %></td>
        <td><%= link_to 'Destroy', devise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Devise', new_devise_path %>
